$branco: #f0f0f0;
$cinza: #bfbfbf;
$cinza-claro: #d0d0d0;
$cinza-escuro: #272626;

$cor-fundo: #171717;
$cor-fundo-form: #7687a1;
$cor-fundo-input: #5d677c;

$cor-fundo-botao: #88bcd1;
$cor-fundo-botao-ativo: #7ca6b7;

$cor-fundo-tarefa: #4d4d4d;
$cor-fundo-tarefa-completa: #566f42;
$cor-fundo-tarefa-selecionada: #292929;

$desktop-breakpoint: 1280px;
