@use 'src/styles/sass/variaveis' as *;

.cronometro {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: cronometro;

    .titulo {
        color: $branco;
        font-size: 2rem;
    }

    .container {
        align-items: center;
        background-color: $cor-fundo-form;
        border-radius: 10px;
        box-shadow: 2px 4px 4px #0000009f;
        display: flex;
        font-size: 5rem;
        justify-content: center;
        margin-bottom: 1.5rem;
        padding: 1rem 0.75rem;
        width: 100%;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .cronometro {
        .container {
            font-size: 15rem;
        }
    }
}
