@use 'src/styles/sass/variaveis' as *;

.tarefas {
    grid-area: tarefas;
    height: 100%;

    .titulo {
        color: $branco;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }

    .lista {
        max-height: 350px;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
}


@media screen and (min-width: 1280px) {
    .tarefas {
        .titulo {
            font-size: 2.25rem;
            margin-bottom: 1.5rem;
            text-align: center;
        }
    
        .lista {
            max-height: 500px;
            overflow: auto;
        }
    }
}